.checkout {
  margin: 20px 0;
}

.checkout h1,
.checkout table,
.checkout form {
  margin: 20px 0;
}

.checkout table,
.checkout table th,
.checkout table td {
  border: 1px solid var(--color-1);
}

.checkout table th,
.checkout table td {
  text-align: center;
}

.checkout table td span {
  font-size: 18px;
}

.checkout table .image {
  width: 100%;
  height: 59px;
}

.checkout .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 20;
}
.checkout h2 {
  font-weight: 700;
  text-align: end;
}

.checkout form {
  border: 1px solid var(--color-2);
  padding: 10px 20px;
  border-radius: 9px;
}

.checkout form label {
  margin-bottom: 15px;
}

.checkout form input:focus {
  box-shadow: rgba(0, 100, 0, 0.75) 1px 1px 7px 0px;
  transition: all 0.5s linear;
}

.checkout-success,
.checkout-success h1,
.checkout-success h2,
.checkout-success table {
  margin: 20px 0;
}

.checkout-success .infor-user th span {
  font-size: 20px;
  padding: 10px;
}

.checkout-success .infor-user tr th:first-child span {
  font-weight: 400;
}

.checkout-success .infor-products {
  text-align: center;
}

.checkout-success .infor-products .image {
  width: 100%;
  height: 59px;
}

.checkout-success .infor-products .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 20;
}

.checkout-success .totalPrice {
  font-weight: 700;
  text-align: end;
}


.checkout-success table,.checkout-success table tr,.checkout-success table th,.checkout-success table td{
    border: 1px solid var(--color-1);
}