.box-modal.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  z-index: 1000;
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}

.box-modal.hidden {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s linear;
}

.modal-dialog {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 28px 50rem;
  margin-top: 200px;
}

.modal-content {
  height: 100%;
}

.modal-content .modal-header {
  padding: 5px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bde3bd;
}

.modal-content .modal-header .icon-tick {
  color: white;
  background-color: var(--color-2);
  border-radius: 50%;
  margin-right: 10px;
}

.modal-content .modal-header .modal-title {
  margin-right: 100px;
}

.modal-content .close-modal {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body .inner-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-body .cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body .inner-image {
  width: 30%;
}

.modal-body .inner-image img {
  width: 60%;
  height: 30%;
  aspect-ratio: 3 / 4;
  object-fit: contain;
}

.modal-body .inner-desc {
  width: 70%;
}

.modal-body .inner-price {
  display: block;
  color: var(--color-2);
  font-weight: 700;
}

.modal-body .inner-quantity {
  color: var(--color-3);
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 15px;
}

.modal-footer a{
  text-decoration: none;
    text-align: center;
}

.modal-footer a:first-child {
  width: 49%;
  border: 1px solid var(--color-2);
  border-radius: 5px;
  background-color: transparent;
}

.modal-footer a:first-child:hover {
  background-color: var(--color-2);
  color: white;
  transition: all 0.5s ease;
}

.modal-footer a:nth-child(2) {
  width: 48%;
  border-radius: 5px;
  background-color: red;
  border: 1px solid var(--color-2);
  color: white;
}
