header.header 
    .container-fluid 
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN
            .col-9 
                .inner-setting
                    .user
                        a(href=`${prefixAdmin}/my-account` class="btn btn-success") #{user.fullName}  
                    .logout.text-right
                        a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger") Đăng xuất