.forgot-password,.otp{
    margin-top: 30px;
}

.forgot-password form,.otp form{
    margin: 20px auto;
}

.forgot-password form label,.otp form label{
    
    margin-bottom: 20px;

}

.expire-time{
    display: flex;
}

.expire-time .time{
    display: flex;
    margin: 0 10px;
}