extends ../../layouts/default.pug
include ../../mixins/box-alert.pug

block main 
    - if(messages.error)
        +alert-error(messages.error)
    .container
        .row 
            .col-12
                .forgot-password 
                    h1.text-center Lấy lại mật khẩu 
                    form(action="/user/password/forgot" method="POST")
                        .form-group
                            label(for="email") Email
                            input(class="form-control" type="text" name="email")
                            button(class="form-control" type="submit" class="btn btn-primary") Gửi email xác nhận