extends ../../layouts/default.pug
include ../../mixins/box-alert.pug

block main 
    - if(messages.error)
        +alert-error(messages.error)
        
    .container
        .row 
            .col-12
                .forgot-password 
                    h1.text-center Nhập mã OTP xác thực
                    form(action="/user/password/otp" method="POST")
                        .form-group
                            label(for="email") Email
                            input(class="form-control" type="text" name="email" value=email readonly)
                        .form-group
                            label(for="OTP") Mã OTP
                            input(class="form-control" type="text" name="OTP")
                            
                            button(class="form-control" type="submit" class="btn btn-primary") Xác nhận