extends ../../layouts/default.pug
include ../../mixins/box-alert.pug

block main 
    - if(messages.error)
        +alert-error(messages.error)
    .container
        .row 
            .col-12
                .forgot-password 
                    h1.text-center Đổi mật khẩu
                    form(action="/user/password/reset" method="POST")
                        .form-group
                            label(for="password") Mật khẩu mới
                            input(class="form-control" type="password" name="password")
                            label(for="confirm_password") Xác nhận mật khẩu
                            input(class="form-control" type="password" name="confirm_password")
                            button(class="form-control" type="submit" class="btn btn-primary") Đổi mật khẩu