ul{
    list-style-type: none;
    padding-left: 0;
}

pre{
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 38px;
    font-family: var(--bs-body-font-family);
    margin-top: 0;
}