.selection .list-brand {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.product-list {
  margin-top: 40px;
}

.product-list .export {
  border-right: 1px solid var(--color-3);
  border-bottom: 1px solid var(--color-3);
  padding-bottom: 30px;
}

.product-list h2 {
  font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.product-list ul {
  padding: 0;
  list-style-type: none;
  min-height: 200px;
  height: 300px;
  overflow: hidden;
}

.product-list ul li {
  display: flex;
  height: 20px;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.product-list ul li a {
  font-size: 18px;
  margin-bottom: 0;
  order: 2;
  font-weight: 700;
  color: var(--color-2);
  text-decoration: none;
}

.product-list ul li input {
  display: inline;
  width: 30px;
  height: 20px;
  order: 1;
}

.product-list .see-more,
.product-list .see-compact {
  text-align: center;
}

.product-list .see-more span,
.product-list .see-compact span {
  margin-right: 10px;
  cursor: pointer;
}

.product-list .selection {
  top: 50px;
}

.product-list .categories {
  border-right: 1px solid var(--color-3);
}

.product-list .categories h2 {
  margin-top: 0;
  font-size: 25px;
  font-weight: 500;
}

.product-list .selection .option {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.product-list .selection .option span {
  color: var(--color-3);
  cursor: pointer;
}

.product-list .selection .option span:hover {
  color: var(--color-2);
  cursor: pointer;
}

.product-list .item {
  width: calc(100% / 4);
}

.product-list .pages {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.product-list .pages span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-1);
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-list .pages span.active {
  background-color: var(--color-3);
}

.product-list .pages > span:hover {
  background-color: var(--color-3);
}

.product-list .pages .icon {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.product-list .pages .icon:hover {
  background-color: var(--color-3);
}

.product-list .product-item .name pre {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 38px;
  font-family: var(--bs-body-font-family);
}

.sort-span .sort-item:hover {
  color: var(--color-2);
  cursor: pointer;
}

.sort-product select {
  border-radius: 5px;
  cursor: pointer;
}

.main-title .category .icon-greater {
  margin: 0 10px;
}

.detail-product {
  background-color: #f9f9fb;
}

.category {
  padding: 8px 0;
}

.category span {
  color: #ccc;
  cursor: pointer;
}

.category span,
.category a {
  margin: 0 5px;
}

.category span:hover {
  color: var(--color-2);
}

.category span:last-child {
  color: var(--color-1);
  cursor: auto;
}

.detail-product .left {
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

.detail-product .wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  margin-right: 0px;
  display: flex;
  transition: all 1s ease;
  position: relative;
  gap: 0;
}

.image .main-img {
  width: 100%;
  display: flex;
}

.image .prev {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
  display: flex;
}

.image .prev:hover,
.image .next:hover {
  width: 30px;
  height: 30px;
  background-color: var(--color-2);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.image .next {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
  display: flex;
}

.next .icon,
.prev .icon {
  pointer-events: none;
}

.wrapper .main-img {
  transition: all 0.5s linear;
}
.wrapper .main-img .item-image {
  width: 100%;
  flex: 1 0 100%;
  height: 100%;
}

.main-img .item-image img {
  width: 100%;
}

.footer-img {
  display: flex;
  overflow: hidden;
  gap: 5px;
}

.footer-img img {
  width: calc(100% / 4 - 5px);
  height: 100px;
  object-fit: cover;
}

.footer-img img.active {
  border: 1px solid var(--color-2);
  border-radius: 5px;
}

.detail-price {
  margin-top: 20px;
}

.price-discount {
  font-size: 29px;
  color: var(--color-2);
  font-weight: 700;
  margin-right: 20px;
}

.price-main {
  text-decoration: line-through;
  color: var(--color-3);
}

.discount-percent {
  margin-left: 10px;
  display: inline;
  padding: 5px 10px;
  background-color: var(--color-4);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 30px;
}

.quantity span {
  font-size: 20px;
  font-weight: 500;
}

.quantity .change-quantity {
  border: 1px solid var(--color-3);
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.change-quantity button {
  border: none;
  width: 30px;
  background-color: transparent;
}

.change-quantity span {
  font-size: 23px;
  font-weight: 400;
}

.buy {
  text-align: center;
  background-color: var(--color-4);
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin: 28px 0px;
  cursor: pointer;
}

.detail-price > button {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  font-weight: 700;
  transition: all ease 0.5s;
}

.detail-price > button:hover {
  background-color: var(--color-4);
  color: white;
}

.detail-product .right {
  background-color: #ffffff;
  padding: 10px 20px;
}

.detail-product .right .special {
  display: flex;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.special .icon {
  font-size: 30px;
}

.special h3 {
  font-size: 18px;
}

.special p {
  padding-left: 42px;
}

.infor-product {
  margin: 30px 0;
  background-color: #ffffff;
  padding: 20px;
}

.infor-product h1 {
  font-size: 25px;
  font-weight: bold;
}

.infor-product .desc {
  margin-top: 20px;
}

.infor-product ul {
  margin-top: 15px;
}

.infor-product ul li {
  border: none;
  padding: 0;
}

table {
  border: 1px solid var(--color-3);
  width: 100%;
}

table tbody {
  background-color: #ffffff;
}

table td:first-child {
  width: 74px;
}

table td:first-child img {
  width: 82%;
  margin-left: 10px;
  aspect-ratio: 7 / 4;
  object-fit: cover;
}

table td:nth-child(2) {
  padding: 20px;
}

td h3 {
  font-size: 15px;
  font-weight: 400;
}

td .price-discount {
  font-size: 15px;
}

td .quantity .change-quantity {
  width: 115px;
  height: 30px;
}

td:last-child {
  padding-right: 20px;
}
.add-cart td:last-child button {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  font-weight: 700;
  transition: all ease 0.5s;
  border-radius: 5px;
}

td:last-child button:hover {
  background-color: var(--color-4);
  color: white;
}

.relate-to {
  margin: 30px 0;
  padding: 15px 20px;
  background-color: #ffffff;
}

.all-ratings {
  background-color: #ffffff;
  padding: 20px;
}

.all-ratings h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.all-ratings table img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.all-ratings table span {
  margin-right: 10px;
}

.all-ratings table td:last-child {
  text-align: end;
}

.add-rating {
  margin: 30px 0;
  background-color: #ffffff;
  padding: 20px;
}

.add-rating h2 {
  font-size: 25px;
}

form textarea,
input {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
}

form label {
  margin-top: 20px;
}

form input {
  height: 70px;
  border: 1px solid #ccc;
  padding-left: 20px;
}

form input:focus {
  outline: none;
}

form button {
  margin: 20px 0;
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--color-2);
  color: white;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination .page.active {
  background-color: var(--color-2);
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-3);
  cursor: pointer;
}

.pagination .page,
.pagination .icon {
  color: var(--color-1);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-3);
  cursor: pointer;
}

.pagination .page:hover,
.pagination .icon:hover {
  background-color: var(--color-3);
}

.detail-product {
  background-color: #f9f9fb;
}

.category {
  padding: 8px 0;
}

.category span {
  color: #ccc;
  cursor: pointer;
}

.category span:hover {
  color: var(--color-2);
}

.category span:last-child {
  color: var(--color-1);
  cursor: auto;
}

.detail-product .left {
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

.detail-product .wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  margin-right: 0px;
  display: flex;
  transition: all 1s ease;
  position: relative;
  gap: 0;
}

.image .main-img {
  width: 100%;
  display: flex;
}

.image .prev {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
  display: flex;
}

.image .prev:hover,
.image .next:hover {
  width: 30px;
  height: 30px;
  background-color: var(--color-2);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.image .next {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
  display: flex;
}

.next .icon,
.prev .icon {
  pointer-events: none;
}

.wrapper .main-img {
  transition: all 0.5s linear;
}
.wrapper .main-img .item-image {
  width: 100%;
  flex: 1 0 100%;
  height: 100%;
}

.main-img .item-image img {
  width: 100%;
}

.footer-img {
  display: flex;
  overflow: hidden;
  gap: 5px;
}

.footer-img img {
  width: calc(100% / 4 - 5px);
  height: 100px;
  object-fit: cover;
}

.footer-img img.active {
  border: 1px solid var(--color-2);
  border-radius: 5px;
}

.main-product .text-success {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.detail-price {
  margin-top: 20px;
}

.price-discount {
  font-size: 29px;
  color: var(--color-2);
  font-weight: 700;
  margin-right: 20px;
}

.price-main {
  text-decoration: line-through;
  color: var(--color-3);
}

.discount-percent {
  margin-left: 10px;
  display: inline;
  padding: 5px 10px;
  background-color: var(--color-4);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 30px;
}

.quantity span {
  font-size: 20px;
  font-weight: 500;
}

.quantity .change-quantity {
  border: 1px solid var(--color-3);
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.change-quantity button {
  border: none;
  width: 30px;
  background-color: transparent;
}

.change-quantity span {
  font-size: 23px;
  font-weight: 400;
}

.buy {
  text-align: center;
  background-color: var(--color-4);
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin: 28px 0px;
  cursor: pointer;
}

.detail-price > button {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  font-weight: 700;
  transition: all ease 0.5s;
}

.detail-price > button:hover {
  background-color: var(--color-4);
  color: white;
}

.detail-product .right {
  background-color: #ffffff;
  padding: 10px 20px;
}

.detail-product .right .special {
  display: flex;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.special .icon {
  font-size: 30px;
}

.special h3 {
  font-size: 18px;
}

.special p {
  padding-left: 42px;
}

.infor-product {
  margin: 30px 0;
  background-color: #ffffff;
  padding: 20px;
}

.infor-product h1 {
  font-size: 25px;
  font-weight: bold;
}

.infor-product .desc {
  margin-top: 20px;
}

.infor-product ul {
  margin-top: 15px;
}

.infor-product ul li {
  border: none;
  padding: 0;
}

table {
  border: 1px solid var(--color-3);
  width: 100%;
}

table tbody {
  background-color: #ffffff;
}

table td:first-child {
  width: 74px;
}

table td:first-child img {
  width: 82%;
  margin-left: 10px;
  aspect-ratio: 7 / 4;
  object-fit: cover;
}

table td:nth-child(2) {
  padding: 20px;
}

td h3 {
  font-size: 15px;
  font-weight: 400;
}

td .price-discount {
  font-size: 15px;
}

td .quantity .change-quantity {
  width: 115px;
  height: 30px;
}

td:last-child {
  padding-right: 20px;
}
.add-cart td:last-child button {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  font-weight: 700;
  transition: all ease 0.5s;
  border-radius: 5px;
}

td:last-child button:hover {
  background-color: var(--color-4);
  color: white;
}

.relate-to {
  margin: 30px 0;
  padding: 15px 20px;
  background-color: #ffffff;
}

.all-ratings {
  background-color: #ffffff;
  padding: 20px;
}

.all-ratings h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.all-ratings table img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.all-ratings table span {
  margin-right: 10px;

}

.all-ratings table .name{
  font-weight: 700;
}

.all-ratings table td:last-child {
  text-align: end;
}

.add-rating {
  margin: 30px 0;
  background-color: #ffffff;
  padding: 20px;
}

.add-rating h2 {
  font-size: 25px;
}

form textarea,
input {
  display: block;
  width: 100%;
  border-radius: 5px;
}

form label {
  margin-top: 20px;
}

form input {
  height: 70px;
  border: 1px solid #ccc;
  padding-left: 20px;
}

form input:focus {
  outline: none;
}

form button {
  margin: 20px 0;
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--color-2);
  color: white;
}

.box-alert {
  position: fixed;
  top: 80px;
  right: 50px;
  width: 300px;
  height: 50px;
  z-index: 999;
}
