.all-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100px;
    position: fixed;
    bottom: 50px;
    left: 20px;

}

.all-contact .mess{
    width: 50px;
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* animation: scale ease 1s infinite; */
    cursor: pointer;

}

@keyframes shake {
    0%{
        transform: rotate(-50deg);
        
    }

    25%{
        transform: rotate(25deg);

    }

    50%{
        transform: rotate(-50deg);

    }

    100%{
        transform: rotate(25deg);

    }
}


.all-contact .icon{
    color: white;
    font-size: 28px;

}


.all-contact .phone{
    width: 50px;
    height: 50px;
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    /* animation: scale ease 1s infinite; */
    cursor: pointer;

}

.all-contact .phone .icon{
    animation: shake ease 0.5s infinite alternate;

}

.all-contact .mess::after{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    animation: scale ease 1s infinite ;
    background-color: blue;
    border-radius: 50%;
}

.all-contact .phone::after{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    animation: scale ease 1s infinite ;
    background-color: var(--color-4);
    border-radius: 50%;
}


@keyframes scale {
    0%{
        transform: scale(0.5);
        opacity: 1;
    }
    50%{
        transform: scale(1);
        opacity: 0.5;
    }

    100%{
        transform: scale(1.3);
        opacity: 0;
    }

}