.cart-category h3 {
  margin-bottom: 30px;
}

.cart-category table {
  border: none;
}

.cart-category table tbody {
  background-color: #ffffff;
}

.cart-category table td:first-child {
  text-align: center;
}

.cart-category table td:first-child button {
  border: none;
  color: #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.cart-category table td:nth-child(2) {
  padding: 0;
  width: 150px;
}

.cart-category tr {
  height: 100px;
  border-bottom: 1px solid #ccc;
  border-bottom-width: 1px;
}
.cart-category td img {
  width: 65%;
  aspect-ratio: 3/4;
  object-fit: contain;
}

.cart-category table td:nth-child(3) {
  width: 400px;
}

.cart-category table td:nth-child(4) {
  color: var(--color-2);
  text-align: center;
}

.cart-category table tr .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 30px;
  overflow: hidden;
}

.cart-category table tr .price{
  margin: 0 20px;

}

.note {
  margin-top: 30px;
}

.note input {
  border: 1px solid var(--color-3);
  height: 50px;
}

.order {
  background-color: #f9f9fb;
  padding: 20px 20px;
}

.order .datetime {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.order .pick-timer {
  border: 1px solid #ddd;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.order .bill {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.bill input {
  width: 14px;
  cursor: pointer;
}

.bill p {
  margin-bottom: 0;
}

.total {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.total h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.total span {
  font-size: 25px;
  color: var(--color-2);
  font-weight: bold;
}

.order p {
  text-align: end;
}

.order button {
  border: none;
  width: 100%;
  background-color: var(--color-4);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.time {
  position: relative;
}
.time select {
  width: 157px;
  border-radius: 5px;
  padding: 3px 0;
}

.infor-company {
  height: 400px;
  overflow: hidden;
  max-height: 400px;
  transition: all 0.5s linear;
}

.infor-company.not-show {
  height: 50px;
}

.fill-infor .name {
  margin-bottom: 20px;
}

.fill-infor input {
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}

.fill-infor input:focus {
  outline: none;
}
