.inner-avartar{
    width: 50px;
    height: 50px;

}

.inner-avartar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.infoUser .inner-avartar{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    border: 4px solid #C2E1FF;
    border-radius: 50%;
}

.infoUser .inner-avartar .icon-update{
    
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: var(--color-3);
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

}