.wrap-payment .qr {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.qr div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
