mixin alert-success(messages)
    .message-info
        div(class="alert alert-success" time-alert="5000" alert) #{messages}


mixin alert-error(messages)
    .message-info
        div(class="alert alert-danger" time-alert="5000" alert) #{messages}